p{color:red}

header{color:blue;text-align:center;border:25px solid blue;text-transform:uppercase;text-shadow: 3px 2px yellow;font-style: italic;font-size: 40px;    background-color:yellow;padding:50px;

}
section{color:red;text-align:center;border:25px solid red;text-transform:uppercase;text-shadow: 3px 2px yellow;font-style: italic;font-size: 40px;    background-color:yellow;padding:50px;

}
footer{color:black;text-align:center;border:25px solid black;text-transform:uppercase;text-shadow: 3px 2px white;font-style: italic;font-size: 40px;    background-color:white;padding:50px;

}